!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]

explicit_defaults_for_timestamp = 1

default-time-zone       ='Europe/Berlin'
slow_query_log          = /var/log/mysql/mysql-slow.log
long_query_time         = 2